<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Match Schedule
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>

        </div>
    </div>
</nav>

<div class="row">
        <div  id="schedule" ng-repeat="schedule in model.schedules.data" class="col-xs-6 well">
            <h3>{{schedule.description}}</h3>
            <a href="#">{{schedule.title}}</a>
            <br>
            <div>Last Updated: {{model.pub | date:'medium'}}</div>
        </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <span class="glyphicon glyphicon-play"></span>

            </div>
            <div class="col-xs-3 text-center">
                <span class="glyphicon glyphicon-eye-open"></span>
            </div>
            <div class="col-xs-3 text-center">

            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

            </div>
        </div>
    </div>
</nav>
