<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><b>CRIC INFO</b></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/user/{{model.userId}}/home/">Home</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}/home/schedule">Schedule</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}/home/news">News</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}/profile">Profile</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 align="center">Find Users</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12 ">
                    <input type="text"
                           class="form-control"
                           placeholder="Bob"
                           ng-model="model.searchText"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg"
                                ng-click="model.searchTeammates(model.searchText); show=true"
                                type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom-search container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <hggroup class="mb20" ng-if="model.searchText && show">
        <h2 class="lead" align="center"><strong class="text-danger">{{model.users.length}}</strong> results were found.</h2>
    </hggroup>
    <p class="text-muted" ng-if="model.searchResults.length<1 && show">Try searching: Alice/ Bob/ Vikram</p>
</div>
<!--<div class="container">-->
    <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<input ng-model="model.searchText"&ndash;&gt;-->
               <!--&lt;!&ndash;type="text"&ndash;&gt;-->
               <!--&lt;!&ndash;class="form-control"&ndash;&gt;-->
               <!--&lt;!&ndash;placeholder="Find Users..">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
        <!--&lt;!&ndash;<a ng-click="model.searchTeammates(model.searchText)"&ndash;&gt;-->
           <!--&lt;!&ndash;class="btn btn-default"&ndash;&gt;-->
           <!--&lt;!&ndash;type="button">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-search"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div ng-if="model.error"-->
         <!--class="alert alert-danger">-->
        <!--{{model.error}}-->
    <!--</div>-->
<!--</div>-->
<div class="custom-table well">
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th style="width: 36px;"></th>
        </tr>
        </thead>
        <tbody >
        <tr  ng-repeat="user in model.users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>

            <td>
                <a href="#/user/{{model.userId}}/home/userProfile/{{user._id}}" class="navbar-link">{{user.username}}</a>
                <button class="btn btn-danger btn-xs"
                        data-toggle="modal" data-target="#delModal"
                   ng-if="model.user.moderator===true"
                   >
                    <i class="fa fa-user-times"></i></button>
                <div class="modal"  id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="delModalLabel"><b>Confirmation</b></h4>
                            </div>
                            <div class="modal-body">
                                <strong>You sure you want to delete {{user.username}}?</strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary"
                                        ng-click="model.deleteUser(user._id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>


            </td>


            <td>

                <button class="btn btn-info btn-xs"
                        data-toggle="modal" data-target="#myModal"
                        ng-if="model.user.moderator===true">
                   <!--ng-click="model.makeAdmin(user._id, user)">-->
                    <i class="fa fa-user-secret"></i></button>
                <div class="modal"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel"><b>Confirmation</b></h4>
                            </div>
                            <div class="modal-body">
                                <strong>Click Yes to make {{user.username}} an Admin!</strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary"
                                    ng-click="model.makeAdmin(user._id, user)">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text">
            <div class="col-xs-4 text-center">
                <a href="#/user/{{model.userId}}/home/profile/search">
                    <span class="fa fa-users"></span>
                </a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#/user/{{model.userId}}/home/inbox">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </a>
            </div>

            <div class="col-xs-4 text-center">
                <a href="#/user/{{model.userId}}/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>