<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/home" class="navbar-link">
                  <span class="glyphicon glyphicon-home">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Search Users
            </a>


        </div>
    </div>
</nav>

<div class="container">
    <div class="input-group">
        <input ng-model="model.searchText"
               type="text"
               class="form-control"
               placeholder="Find Users..">
    <span class="input-group-btn">
        <a ng-click="model.searchTeammates(model.searchText)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
    <div ng-if="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>
</div>

<div class="well">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th style="width: 36px;"></th>
        </tr>
        </thead>
        <tbody >
        <tr  ng-repeat="user in model.users">
            <td>1</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>
                <a ng-click="model.deleteUser()"><i class="fa fa-user-times"></i></a>
            </td>
        </tr>

        </tbody>
    </table>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <span class="glyphicon glyphicon-play"></span>

            </div>
            <div class="col-xs-3 text-center">
                <span class="glyphicon glyphicon-eye-open"></span>
            </div>
            <div class="col-xs-3 text-center">

            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

            </div>
        </div>
    </div>
</nav>
