<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/home" class="navbar-link">
                  <span class="glyphicon glyphicon-home">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Search Team Mates
            </a>
            <!--<p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>-->


        </div>
    </div>
</nav>

<div class="container">
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control"
               placeholder="Search Team Mates">
    <span class="input-group-btn">
        <a ng-click="model.searchTeammates(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>


    <ul class="list-group">
        <li ng-repeat="user in model.teammembers"
            clas="list-group-item list-group">
            <a href="#" class="actionlink">{{user.username}}</a>
        </li>
    </ul>

    <div>
        <h3> Friends you can add..</h3>
        <ul>
            <li class="box-search list-group list-group-item" ng-repeat="user in model.users">
                <a href="#/user/{{model.userId}}/{{user.username}}/profile"
                   class="actionlink">{{user.username}}</a>
            </li>
        </ul>
    </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="row navbar-text">
                    <div class="col-xs-3 text-center">
                        <span class="glyphicon glyphicon-play"></span>

                    </div>
                    <div class="col-xs-3 text-center">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    <div class="col-xs-3 text-center">

                    </div>
                    <div class="col-xs-3 text-center">
                        <a href="#/user/{{model.userId}}">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>

                    </div>
                </div>
            </div>
        </nav>
</div>