<body>
<div id="main">

    <div id="header"><a href="#">United Premier League</a></div>

    <div id="menupanel">

        <ul>

            <li><a href="#">Home</a></li>

            <li><a href="#/user/{{model.userId}}/home/schedule">Schedule</a></li>

            <li><a href="#/user/{{model.userId}}/home/news">News</a></li>

            <li><a href="user/">Profile</a></li>

            <li><a href="">Play</a></li>

            <li><a href="/login">Logout</a></li>

        </ul>

    </div>

    <div id="banner">

    </div>

    <div id="content">

        <div class="sider">

            <img src="images/sider1.jpg" alt="sider1" width="200" height="80" /><img src="images/sider2.jpg" alt="sider2" width="200" height="80" /><img src="images/sider3.jpg" alt="sider3" width="200" height="80" />

            <img src="images/sider4.jpg" alt="sider4" width="200" height="80" /></div>

        <div class="col1">EASIGRASS<br />

            <br />
            <p>Easigrass is the leading artificial grass producer in the industry is here at your call for the cost effective artificial grass. Our artificial grass is recyclable and suits every atmosphere and environment. Easigrass fulfill your requirement of artificial grass in various sites related to the home, garden and sports.</p>
            <p>With more than seventeen years of experience we worked with many leading agency like FIFA, The RFU, Top Golf, Chelsea FC, The Lawn Tennis Association and David loyd. Our stylish and attractive and artificial grasses are fixed in twenty hour time for a normal garden.</p>
            <p>Artificial grass are eco friendly and it give you added advantage in garden such as noise pollution , electricity charge , grass clipping, grass watering etc. along with this our customers don&rsquo;t need to spend fertilizers, pesticides or weed killers. Easigrass offers all these products at every affordable cost that no other company can give. Above all we give eight years guarantee on our artificial grass works.<br />
            </p>
        </div>

    </div>

</div>

</body>