
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><span class="fa fa-trophy"></span><b> CRIC INFO</b></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/">Home</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="container">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" align="center"><b>Welcome to Cric Info</b></h3>
        </div>
        <div class ="container custom-pic">
            <img class="logo-img img-responsive" src="https://s32.postimg.org/xfgg46lsl/logo_new.png">
            </div>
        <div class="panel-body">
            <form name="loginForm" ng-app>
                <div class="control-group" ng-class="{true: 'error'}[submitted && loginForm.username.$error.required]">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input ng-model="username"
                           name = "username"
                           class="form-control"
                           type="text"
                           placeholder="username"
                           required/>
                        </div>
                    <span class="help-inline" ng-show="submitted && loginForm.username.$error.required">*Username is a Required field</span>


                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock aria-hidden="true"></i></span>
                    <input ng-model="password"
                           class="form-control"
                           type="password"
                           placeholder="password"
                           required/>
                        </div>
                    <span class="help-inline" ng-show="submitted && loginForm.username.$error.required">*Password is a Required field</span>
                </div>
                <a ng-click ="model.login(username, password); submitted=true"
                   class="btn btn-primary btn-block"><span class ="fa fa-sign-in"></span> Login</a>
                <a class="btn btn-info btn-block"
                   href="#/register" ><span class ="fa fa-bars"></span> Sign Up</a>
                <hr/>

                <a class="btn btn-success btn-block" href="/auth/google">
                    <span class ="fa fa-google-plus-official"></span>
                    Login Using Google</a>
            </form>

        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">

    <!-- /.container -->
</nav>