
input.form-control {
    margin-bottom: 5px;
}

body{
    padding-top: 60px;
    padding-bottom: 60px;
}
.form-group{
    margin-top: 20px;

}

.navbar-header
{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

p.navbar-text.pull-right {
    margin-left: 15px;
    padding-right: 25px;
}

p.navbar-text.pull-left{
    margin-left: 15px;
}

li.borderless{
    border: none;
}

.jga-tool{
    position: absolute;
    right:15px;
    background: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.8;
    z-index: 2;
}

.end-padding{
    padding-bottom: 20px;
}

a.remove-hover{
    text-decoration: none;
}

span.glyphicon.glyphicon-play{
    padding-right: 5px;
}

span.help-inline{
    color:#D63301;
    background-color: #FFCCBA;
}

div.ui-state-error-text.custom-err{
    color:#D63301;
    background-color: #FFCCBA;

}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
