
input.form-control {
    margin-bottom: 5px;
}

body{
    padding-top: 60px;
    padding-bottom: 60px;
}
.form-group{
    margin-top: 20px;

}
a.custom-button{
    margin-top: 10px;
}
/*.navbar-header*/
/*{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*text-align: center;*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
/*}*/

p.navbar-text.pull-right {
    margin-left: 15px;
    padding-right: 25px;
}

p.navbar-text.pull-left{
    margin-left: 15px;
}

li.borderless{
    border: none;
}

.jga-tool{
    position: absolute;
    right:15px;
    background: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.8;
    z-index: 2;
}

.end-padding{
    padding-bottom: 20px;
}

a.remove-hover{
    text-decoration: none;
}

span.glyphicon.glyphicon-play{
    padding-right: 5px;
}

span.help-inline{
    color:#D63301;
    background-color: #FFCCBA;
}

div.ui-state-error-text.custom-err{
    color:#D63301;
    background-color: #FFCCBA;

}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.w100{
    width:100%
}

div.well{
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

div.profile.well{
    max-height: inherit;
    min-height: inherit;
}

.col{
    width: 300px;
    float: left;
    margin-left: 15px;
}

div.news-pad{
    margin-bottom: 20px;
}

div.custom-match.col-xs-4.col.well{
    max-height: 200px;
    min-height: 150px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}




.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

div.custom-carousel.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}


div.custom-table.well{
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

div.custom-search{
    padding-bottom: 10px;
}

img.logo-img.img-responsive{
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}