
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Send Message
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createPage(name); submitted=true" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>


        </div>
    </div>
</nav>
<div class="container">

    <div ng-show="model.alert" class="alert alert-info" role="alert">
        {{model.alert}}
    </div>

    <form name="pageForm">

            <div class="control-group">
            <label for="name">Title</label>
            <input type="text"
                   ng-model="title"
                   class="form-control"
                   id="title"
                   name="title"
                   placeholder="Message Title"
                    required/>

                </div>

            <label for="message">Message</label>
            <input type="text"
                   ng-model="message"
                   class="form-control"
                   id="message"
                   placeholder="Type message..">

        <a class="btn btn-primary btn-block"
           ng-click ="model.sendMessage(title, message)"
            role="button">
            <span class="fa fa-envelope"></span>
            Send Message</a>
        <a class="btn btn-danger btn-block"
           href="#/user/{{model.userId}}/schedule" role="button">
            Cancel</a>


    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

            </div>
        </div>
    </div>
</nav>
