
<div class="container">

    <h1>Register</h1>
    <form name="registerForm" ng-app>
        <div class="control-group" ng-class="{true: 'error'}[submitted && registerForm.username.$error.required]">
    <input class="form-control"
           name="username"
           ng-model="username"
           type="text"
           placeholder="username"
            required/>
            <span class="help-inline" ng-show="submitted && registerForm.username.$error.required">*Username is a Required field</span>
    <input class="form-control"
           ng-model="password"
           name="password"
           type="password"
           placeholder="password"
            required/>
            <span class="help-inline" ng-show="submitted && registerForm.password.$error.required">*Password is a Required field</span>
    <input class="form-control"
           ng-model="repassword"
           name="repassword"
           type="password"
           placeholder="verify password"
            required
            compare-to="registerForm.password"/>
            <span class="help-inline" ng-show="submitted && registerForm.repassword.$error.required">*Password is a Required field</span>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
            </div>
    <a class="btn btn-primary btn-block"
       ng-click="model.createUser(username,password,repassword); submitted=true">Register</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>
    </form>
</div>
