
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                HTML Widget
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget); submitted=true" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>


        </div>
    </div>
</nav>
<div class="container">
    <form name="widgetName" ng-app>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-class="{true: 'error'}[submitted && widgetForm.name.$error.required]"
               name="name"
                type="text"
               ng-model="model.widget.name"
               class="form-control"
               id="name"
                required/>
        <span class="help-inline" ng-show="submitted && widgetForm.name.$error.required">{{model.error}}</span>
    </div>
    <div class="form-group">
        <label for="bootstrap-class">Bootstrap Class</label>
        <input type="text"
               class="form-control"
               id="bootstrap-class"
               value="col-xs-3">
    </div>

    <div class="form-group" ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>
    <a class="btn btn-danger btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
<!--{{model.widget.text}}-->
    <!--<div ng-bind-html="{{model.widget.text}}"></div>-->
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

            </div>
        </div>
    </div>
</nav>
