
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>


        </div>
    </div>
</nav>
<div class="container">


    <form>
        <div class="form-group">
            <label for="youtube-name">Name</label>
            <input type="text"
                   ng-model="model.widget.name"
                   class="form-control"
                   placeholder="Sports Video"
                   id="youtube-name">
        </div>
        <div class="form-group">
            <label for="youtube-text">Text</label>
            <input type="text"
                   ng-model="model.widget.text"
                   class="form-control"
                   placeholder="GoPro Video"
                   id="youtube-text">
        </div>
        <div class="form-group">
            <label for="youtube-url">Text</label>
            <input type="text"
                   ng-model="model.widget.url"
                   class="form-control"
                   id="youtube-url"
                   placeholder="https://www.youtube.com/watch?v=NoKDBxu0si4">
        </div>
        <div class="form-group">
            <label for="youtube-width">Text</label>
            <input type="text"
                   ng-model="model.widget.width"
                   class="form-control"
                   placeholder="100%"
                   id="youtube-width">
        </div>
        <a class="btn btn-danger btn-danger btn-block" ng-click="model.deleteWidget()" >Delete</a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="/assignment/user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

            </div>
        </div>
    </div>
</nav>
