
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>


        </div>
    </div>
</nav>
<div class="container">


    <form>
        <div class="form-group">
            <label for="image-name">Name</label>
            <input type="text"
                   ng-model="model.widget.name"
                   class="form-control"
                   id="image-name">
        </div>
        <div class="form-group">
            <label for="image-text">Text</label>
            <input type="text"
                   ng-model="model.widget.text"
                   class="form-control"
                   id="image-text">
        </div>
        <div class="form-group">
            <label for="image-url">URL</label>
            <input type="text"
                   ng-model="model.widget.url"
                   class="form-control"
                   id="image-url"
                   placeholder="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/0327-3.jpg?itok=EXZiM9A1">
        </div>
        <div class="form-group">
            <label for="image-width">Width</label>
            <input type="text"
                   ng-model="model.widget.width"
                   class="form-control"
                   id="image-width"
                   placeholder="100%">
        </div>
        <div class="form-group">
            <label for="image-url">Upload</label>
            <input type="file"
                   ng-model="model.widget.upload"
                   class="form-control"
                   id="image-upload"
                   placeholder="No file choosen">
        </div>
        <a class="btn btn-primary
                  btn-block"
                  href="#" >Upload Image</a>
        <a class="btn btn-danger
                  btn-block"
           ng-click="model.deleteWidget()" >Delete</a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="/assignment/user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>

            </div>
        </div>
    </div>
</nav>
