<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Search Matches for a Team</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text"
                           class="form-control input-lg"
                           placeholder="Australia"
                            ng-model="model.searchText"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg"
                                ng-click="model.searchTeam(model.searchText)"
                                type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div  id="schedule" ng-repeat="schedule in model.searchResults" class="custom-match col-xs-4  well col">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">

                            <a href="#/user/{{model.userId}}/home/schedule/{{schedule.unique_id}}/">{{schedule.description}}</a>
                        </h4>
                    </div>

                </div>
    </div>
</div>
        </div>
    </div>