
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><b>CRIC INFO</b></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/user/{{model.userId}}/home">Home</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}/profile">Profile</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}/home/news">News</a>
                </li>
                <li>
                    <a href="#/user/{{model.userId}}/home/schedule">Schedule</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container-fluid">
    <div  class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="container-fluid">
                <div class="article"> <h3 align="center">{{model.match["team-1"]}} Vs {{model.match["team-2"]}}</h3>
                    <h4><a href="#/user/{{model.userId}}/home/schedule/{{model.matchId}}/commentary">
                        {{model.match.score}}</a></h4>

                    <div><p align="center"> <b>{{model.match["innings-requirement"]}}</b></p>

                        <ul class="list-unstyled list-inline">
                            <li><i class="fa fa-calendar"></i> {{model.pub | date:'short'}}</li>
                            <li><i class="fa fa-comments"></i> {{model.postedComments.length}} Comments</li>
                        </ul>
                  <textarea class="form-control"
                            rows="3"
                            ng-model="name"
                            placeholder="Add comments.."></textarea>
                        <a ng-click ="model.addMatchComment(name)"
                           class="btn btn-primary btn-block">Add Comment</a>
                        <div class="container comments">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="page-header">
                                        <h3> Comments </h3>
                                    </div>
                                    <div class="comments-list" ng-repeat="comment in model.postedComments">
                                        <div class="media">
                                            <p class="pull-right"><small>{{comment.dateAdded | date:'short'}} <i class="fa fa-calendar"></i></small></p>

                                            <div class="media-body">

                                                <h4 class="media-heading user_name">
                                                    <a href="#/user/{{model.userId}}/home/userProfile/{{comment.userId}}">
                                                        {{comment.username}}</a></h4>
                                                {{comment.text}}

                                                <p><a class="btn btn-primary btn-xs" role="button"
                                                      ng-if="model.userId===comment.userId"
                                                      href="#/user/{{model.userId}}/home/schedule/{{model.matchId}}/comment/{{comment._id}}">
                                                <span class="fa fa-pencil-square-o"></span> Edit</a>
                                                    <a class="btn btn-danger btn-xs" role="button"
                                                       ng-if="model.userId===comment.userId || model.user.moderator===true"
                                                       ng-click="model.deleteComment(comment._id)">
                                                        <span class="fa fa-trash-o"></span> Delete</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-4 text-center">
                <a href="#/user/{{model.userId}}/home/profile/search">
                    <span class="fa fa-users"></span>
                </a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#/user/{{model.userId}}/home/inbox">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </a>
            </div>

            <div class="col-xs-4 text-center">
                <a href="#/user/{{model.userId}}/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
