<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/home" class="navbar-link">
                  <span class="glyphicon glyphicon-home">
                  </span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Update Comment
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWebsite();  submitted=true" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>


        </div>
    </div>
</nav>



<div class="container">
    <div class="row">
        <h3 align="center">Update Comment</h3>

        <div class="col-md-6">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form>
                        <textarea ng-model="model.comment.text">{{model.comment.text}}</textarea>

                        <button ng-click="model.updateComment()"
                                type="submit"
                                class="btn btn-success green"><i class="fa fa-share"></i> Update</button>
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>

    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <span class="glyphicon glyphicon-share-alt"></span>
            </div>
            <div class="col-xs-3 text-center">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            </div>
            <div class="col-xs-3 text-center">
                <i class="fa fa-television" aria-hidden="true"></i>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
